
@mixin fs18() {
    font-family: "Regular";
    font-style: normal;
    line-height: 140%;
    font-size: rem(12px);

    @include m2() {
        font-size: rem(18px);
    }

    @include m3() {
        font-size: rem(18px);
    }
}

@mixin fs-header() {
    font-family: "Regular";
    font-style: normal;
    line-height: 140%;
    font-size: 1rem;

    @include m2() {
        font-size: rem(18px);
    }
}

@mixin fs23() {
    font-family: "Regular";
    font-style: normal;
    line-height: 130%;
    font-size: rem(16px);

    @include m2() {
        font-size: rem(18px);
    }

    @include m3() {
        font-size: rem(23px);
    }
}

@mixin fs29($weight: 400) {
    font-family: "Regular";
    font-style: normal;
    line-height: 120%;
    font-size: rem(12px);

    @if ($weight != 400) {
        font-family: "Bold";
    }
    @include m1() {
        font-size: rem(20px);
    }

    @include m2() {
        font-size: rem(29px);
    }

    @include m3() {
        font-size: rem(29px);
    }
}


@mixin fs80() {
    font-family: "ExtraBold";
    font-style: normal;
    line-height: 110%;
    font-size: rem(29px);

    @include m1() {
        font-size: rem(50px);
    }

    @include m2() {
        font-size: rem(80px);
    }

    @include m3() {
        font-size: rem(80px);
    }
}

@mixin fs110() {
    font-family: "ExtraBold";
    font-style: normal;
    line-height: 110%; 
    font-size: rem(29px);

    @include m1() {
        font-size: rem(50px);
    }

    @include m2() {
        font-size: rem(80px);
    }

    @include m3() {
        font-size: rem(110px);
    }
}

@mixin fs178() {
    font-family: "Bold";
    font-style: normal;
    line-height: 100%; 
    font-size: clamp(2.5rem, 12.5vw ,2.875rem);

    @include m1() {
        font-size: rem(68px);
    }

    @include m2() {
        font-size: rem(110px);
    }

    @include m3() {
        font-size: rem(178px);
    }
}

@mixin fs192() {
    font-family: "Bold";
    font-style: normal;
    line-height: 110%; 
    font-size: rem(35px);

    @include m1() {
        font-size: rem(80px);
    }

    @include m2() {
        font-size: rem(120px);
    }

    @include m3() {
        font-size: rem(192px);
    }
}

@mixin fs200() {
    font-family: "Bold";
    font-style: normal;
    line-height: 110%;
    font-size: rem(60px);

    @include m2() {
        font-size: rem(110px);
    }

    @include m3() {
        font-size: rem(200px);
    }
}