.featured {
    position: relative;
    padding: rem(70px) 1rem rem(120px);

    @include m1() {
        padding: rem(70px) rem(36px) rem(160px);
    }
    @include m2() {
        padding: rem(160px) rem(36px) rem(200px);
    }
    @include m3() {
        padding: rem(130px) rem(36px) rem(300px);
    }
}

.featured__kassette {
    position: absolute;
    right: rem(6px);
    top: rem(90px);
    width: rem(26px);
    height: rem(30px);

    img {
        @include image();
    }

    @include m1() {
        right: rem(36px);
    }
}

.featured__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: px-to-vw(360px, 12px);
    align-items: flex-start;

    @include m1() {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: px-to-vw(768px, 35px);
        aspect-ratio: 1/0.65;
    }

    @include m3() {
        aspect-ratio: 2.9/1;
    }
}

.featured__wrapper::before,
.featured__wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    height: 125%;
    transform: translateY(-15%);
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0), gray, rgba(128, 128, 128, 0));
    pointer-events: none;
}

.featured__wrapper::before {
    left: -2px;

    @include m1() {
        content: none;
    }
}

.featured__wrapper::after {
    right: -2px;
}

.featured__video {
    cursor: pointer;
    border-radius: 0.75rem;
    width: 80%;
    aspect-ratio: 2.3/1;

    video {
        border-radius: 0.75rem;
        @include image();
    }

    @include m1() {
        width: 35%;
    }
}

.featured__video:nth-of-type(1) {
    position: relative;
    @include m1() {
        align-self: flex-start;

        .featured__video-gradient {
            position: absolute;
            top: 0;
            right: -2px;
            width: 2px;
            z-index: 20;
            height: 750px;
            transform: translateY(-14%);
            background: linear-gradient(to bottom, rgba(128, 128, 128, 0), gray, rgba(128, 128, 128, 0));
            pointer-events: none;
        }
    }

    @include m2(){
        .featured__video-gradient {
            height: 950px;
            transform: translateY(-14%);
        }
    }

    @include m3(){
        .featured__video-gradient {
            transform: translateY(-16%);
        }
    }
}

.featured__video:nth-of-type(2) {
    align-self: flex-end;
    position: relative;
    width: 40%;
    aspect-ratio: 0.6/1;

    @include m1() {
        width: 17.5%;
        align-self: center;

        .featured__video-gradient {
            position: absolute;
            top: 0;
            right: -2px;
            width: 2px;
            z-index: 20;
            height: 750px;
            transform: translateY(-35%);
            background: linear-gradient(to bottom, rgba(128, 128, 128, 0), gray, rgba(128, 128, 128, 0));
            pointer-events: none;
        }
    }
    @include m2() {
        margin-bottom: 10%;

        .featured__video-gradient {
            height: 950px;
            transform: translateY(-30%);
        }
    }

    @include m3() {
        margin-bottom: 0;
        align-self: flex-end;
    }
}

.featured__video:nth-of-type(3) {
    @include m1() {
        align-self: flex-end;
    }

    @include m3() {
        margin-bottom: rem(43px);
    }
}

// Popup
.popup__overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup__content {
    max-width: 90%;
    max-height: 90%;
}

.popup__close-btn {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.popup__video {
    @include image();
}
